
.dm_footer{

  > .container{
    gap:10px;
  }

.dm_footer__col{
  padding: 1rem;
 strong{
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
  display: block;
 }

 ul{
  padding:1rem 0;
  &.icons-block{
    flex-direction: row !important;
    display: flex;
    gap: 10px;
  }
 }

  a{
  color: #353f56;
  text-decoration: none;
  }
}
}
