<div class="dm_footer mt-4">
  <div class="container">
    <div class="card-group">
      <div class="col">
        <div class="dm_footer__col">
          <strong>Quick Links</strong>
          <ul>
            <li><a href="#" aria-label="FAQ">FAQ</a></li>
            <li><a href="#" aria-label="Careers">Careers</a></li>
            <li><a href="#" aria-label="Sitemap">Sitemap</a></li>
            <li><a href="#" aria-label="Contact Us">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="dm_footer__col">
          <strong>Website T&Cs</strong>
          <ul>
            <li><a href="#" aria-label="Accessibility">Accessibility</a></li>
            <li><a href="#" aria-label="Terms &amp; Conditions">Terms & Conditions</a></li>
            <li><a href="#" aria-label="Security &amp; Privacy">Security &amp; Privacy</a></li>
          </ul>
        </div>
      </div>
      <div class="col">

      </div>
      <div class="col">
        <div class="dm_footer__col">
          <strong>Download App</strong>
          <ul class="icons-block">
            <li><a href="#" aria-label="Accessibility"><img src="assets/img/icon-android.svg" /></a></li>
            <li><a href="#" aria-label=""> <img src="assets/img/icon-ios.svg" /> </a></li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="dm_footer__col">
          <strong>Social Media</strong>
          <ul class="icons-block">

            <li><a href="#" aria-label="Facebook"><img src="assets/img/icon-facebook.svg" /></a></li>
            <li><a href="#" aria-label="Twitter"> <img src="assets/img/icon-twitter.svg" /> </a></li>
            <li><a href="#" aria-label="You Tube"><img src="assets/img/icon-youtube.svg" /></a></li>
            <li><a href="#" aria-label="Instagram"> <img src="assets/img/icon-insta.svg" /> </a></li>
          </ul>
        </div>
      </div>
    </div>

    <div aria-label="copyRight information" class="copyRight row mb-5">
      <div class="col m-0">
        <p  class=" m-0">Copyright © 2024 Dubai Municipality, all rights reserved.</p>
        <p  class=" m-0">This site is maintained by the Dubai Municipality.</p>
      </div>
      <div class="col">
        <p class=" m-0">The site is best viewed using Microsoft Edge, Mozilla Firefox, Safari and Chrome.</p>
        <p  class=" m-0">Page last modified: 24 May 2024</p>
      </div>
    </div>

  </div>
</div>
