@if (slideImages) {
<ngb-carousel [interval]="1000">


  @for (slide of slideImages; track slide) {

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="slide.url" alt="Random second slide" />
    </div>
    <div class="carousel-caption">
      <div class="mb-5">
        <h3 class="p-0 m-0">{{"Making Dubai More"| transloco}}</h3>
        <h1 class="m-0">{{"Pioneering" | transloco}}</h1>
        <h3 class="p-0 m-0">{{"Every Day" | transloco}}</h3>
      </div>


      <div class="search-field-wrap">
        <button class="btn"> <fa-icon [icon]="faMicrophone"></fa-icon>
        </button>
        <input type="search" placeholder="{{'Search Services, News, Information, Circulars...'}}" />
        <button class="btn searchBtnWrap">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>

      </div>


    </div>

  </ng-template>

  }
  @empty {
  <li>No items found</li>
  }



  <!--
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[1]" alt="Random second slide" />
			</div>
			<div class="carousel-caption">
				<h3>No mouse events...</h3>
				<p>This carousel doesn't pause or resume on mouse events</p>
			</div>
		</ng-template>


		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[2]" alt="Random third slide" />
			</div>
			<div class="carousel-caption">
				<h3>No keyboard...</h3>
				<p>This carousel uses customized default values.</p>
			</div>
		</ng-template>

		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[3]" alt="Random fourth slide" />
			</div>
			<div class="carousel-caption">
				<h3>And no wrap after last slide.</h3>
				<p>This carousel uses customized default values.</p>
			</div>
		</ng-template> -->
</ngb-carousel>
}
